name: terraform apply

on:
  workflow_call: # SRC: https://docs.github.com/en/actions/using-workflows/reusing-workflows
    secrets:
      TF_API_TOKEN:
        description: Terraform Cloud API token
        required: false

    inputs:
      working-directory:
        description: The working directory for Terraform commands
        type: string
        required: false
        default: ./terra

      environment:
        description: The environment to plan (e.g., dev, staging, prod)
        type: string
        required: true

      backend_override:
        description: Rename backend_override.tf.example to backend_override.tf before running 'terraform init'
        type: boolean
        required: false
        default: false

      TF_CLI_ARGS_init:
        description: Additional options to pass to 'terraform init'
        type: string
        required: false
        default: ""

      TF_CLI_ARGS_plan:
        description: Additional options to pass to 'terraform plan'
        type: string
        required: false
        default: ""

      TF_CLI_ARGS_apply:
        description: Additional options to pass to 'terraform apply'
        type: string
        required: false
        default: ""

  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab
    inputs:
      working-directory:
        description: The working directory for Terraform commands
        type: string
        required: false
        default: ./terra

      environment:
        description: The environment to plan (e.g., dev, staging, prod)
        type: string
        required: true

      backend_override:
        description: Rename backend_override.tf.example to backend_override.tf before running 'terraform init'
        type: boolean
        required: false
        default: false

      TF_CLI_ARGS_init:
        description: Additional options to pass to 'terraform init'
        type: string
        required: false
        default: ""

      TF_CLI_ARGS_plan:
        description: Additional options to pass to 'terraform plan'
        type: string
        required: false
        default: ""

      TF_CLI_ARGS_apply:
        description: Additional options to pass to 'terraform apply'
        type: string
        required: false
        default: ""

env:
  TF_IN_AUTOMATION: true

# NOTE: Targetting job sets these
# permissions:
#   contents: read
#   actions: read
#   pull-requests: write

jobs:
  apply:
    name: apply
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    env:
      TF_WORKSPACE: ${{ vars.ENVIRONMENT }}
      TF_CLI_ARGS_init: ${{ inputs.TF_CLI_ARGS_init }}
      TF_CLI_ARGS_plan: "-var-file=./env/${{ vars.ENVIRONMENT }}.tfvars ${{ inputs.TF_CLI_ARGS_plan }}"
      TF_CLI_ARGS_apply: ${{ inputs.TF_CLI_ARGS_apply }}
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main
        # with: TODO

      - uses: percebus/github-actions-terraform/.github/actions/setup@main
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - uses: percebus/github-actions-terraform/.github/actions/init@main
        with:
          working-directory: ${{ inputs.working-directory }}
          backend_override: ${{ inputs.backend_override }}

      # TODO move to common
      - uses: actions/download-artifact@v5
        with:
          name: tfplan_update
          path: ${{ inputs.working-directory }}/dist

      - uses: percebus/github-actions-terraform/.github/actions/apply@main
        with:
          working-directory: ${{ inputs.working-directory }}

      - uses: percebus/github-actions-terraform/.github/actions/plan@main
        with:
          github_token: ${{ github.token }}
          working-directory: ${{ inputs.working-directory }}
          header: ""
