# name: "Test worfklows/apply-destroy"

# on:
#   workflow_dispatch: # Allows you to run this workflow manually from the Actions tab
#   pull_request:
#   push:
#     branches:
#       - main

# concurrency:
#   group: ${{ github.ref }}-${{ github.workflow }}
#   cancel-in-progress: true

# permissions:
#   contents: read

# env:
#   environment: ${{ github.ref_name == 'main' && 'ci_main' || 'ci_branch' }}

# jobs:
#   setup:
#     name: setup
#     runs-on: ubuntu-latest
#     steps:
#       - name: Set STACK_ID
#         id: set-id
#         run: |
#           if [[ "${{ github.ref_name }}" == "main" ]]; then
#             echo "STACK_ID=main" >> $GITHUB_OUTPUT
#           else
#             echo "STACK_ID=pr-${{ github.event.pull_request.number }}" >> $GITHUB_OUTPUT
#           fi
#     outputs:
#       STACK_ID: ${{ steps.set-id.outputs.STACK_ID }}

#   terraform_plan:
#     name: terraform
#     needs: setup
#     uses: ./.github/workflows/plan.yml
#     with:
#       environment: ${{ env.environment }}_plan
#       TF_CLI_ARGS_plan: "-var STACK_ID=${{ needs.setup.outputs.STACK_ID }}"

#   terraform_apply_plan:
#     name: terraform
#     needs: terraform_plan
#     uses: ./.github/workflows/apply.yml
#     with:
#       environment: ${{ env.environment }}

#   terraform_plan-destroy:
#     name: terraform
#     needs: terraform_apply_plan
#     uses: ./.github/workflows/plan-destroy.yml
#     with:
#       environment: ${{ env.environment }}_plan

#   terraform_apply-destroy:
#     name: terraform
#     needs: terraform_plan-destroy
#     uses: ./.github/workflows/apply-destroy.yml
#     with:
#       environment: ${{ env.environment }}
