name: "`terraform validate`"

on:
  workflow_call: # SRC: https://docs.github.com/en/actions/using-workflows/reusing-workflows
    inputs:
      working-directory:
        description: The working directory for Terraform commands
        type: string
        required: false
        default: ./terra

      backend_override:
        description: Rename backend_override.tf.example to backend_override.tf before running 'terraform init'
        type: boolean
        required: false
        default: false

      TF_CLI_ARGS_init:
        description: Additional options to pass to 'terraform init'
        type: string
        required: false
        default: ""

  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab
    inputs:
      working-directory:
        description: The working directory for Terraform commands
        type: string
        required: false
        default: ./terra

      backend_override:
        description: Rename backend_override.tf.example to backend_override.tf before running 'terraform init'
        type: boolean
        required: false
        default: false

      TF_CLI_ARGS_init:
        description: Additional options to pass to 'terraform init'
        type: string
        required: false
        default: ""

jobs:
  validate:
    name: validate
    runs-on: ubuntu-latest
    env:
      TF_CLI_ARGS_init: ${{ inputs.TF_CLI_ARGS_init }}
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main
        # with: TODO

      - uses: percebus/github-actions-terraform/.github/actions/setup@main

      - name: terraform fmt -check
        id: fmt-check
        working-directory: ${{ inputs.working-directory }}
        run: terraform -chdir=${{ inputs.working-directory }} fmt -check

      # - uses: percebus/github-actions-terraform/.github/actions/fmt-check@main
      #   id: fmt-check
      #   continue-on-error: true
      #   with:
      #     working-directory: ${{ inputs.working-directory }}

      - name: terraform-pr-commenter
        uses: robburger/terraform-pr-commenter@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          commenter_type: fmt
          commenter_input: ${{ format('{0}{1}', steps.fmt-check.outputs.stdout, steps.fmt-check.outputs.stderr) }}
          commenter_exitcode: ${{ steps.fmt-check.outputs.exitcode }}

      - uses: percebus/github-actions-terraform/.github/actions/init@main
        with:
          working-directory: ${{ inputs.working-directory }}
          backend_override: ${{ inputs.backend_override }}

      - uses: percebus/github-actions-terraform/.github/actions/validate@main
        continue-on-error: true
        with:
          working-directory: ${{ inputs.working-directory }}

      - name: terraform-pr-commenter
        uses: robburger/terraform-pr-commenter@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          commenter_type: fmt
          commenter_input: ${{ format('{0}{1}', steps.validate.outputs.stdout, steps.validate.outputs.stderr) }}
          commenter_exitcode: ${{ steps.validate.outputs.exitcode }}
