name: terraform validate

on:
  workflow_call: # SRC: https://docs.github.com/en/actions/using-workflows/reusing-workflows
    inputs:
      working-directory:
        description: The working directory for Terraform commands
        type: string
        required: false
        default: ./terra

      TF_CLI_ARGS_init:
        description: Additional options to pass to 'terraform init'
        type: string
        required: false
        default: ""


  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab
    inputs:
      working-directory:
        description: The working directory for Terraform commands
        type: string
        required: false
        default: ./terra

      TF_CLI_ARGS_init:
        description: Additional options to pass to 'terraform init'
        type: string
        required: false
        default: ""

jobs:
  validate:
    name: validate
    runs-on: ubuntu-latest
    env:
      TF_CLI_ARGS_init: ${{ inputs.TF_CLI_ARGS_init }}
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main
        # with: TODO

      - uses: percebus/github-actions-terraform/.github/actions/setup@main

      - uses: percebus/github-actions-terraform/.github/actions/init@main
        with:
          working-directory: ${{ inputs.working-directory }}

      - uses: percebus/github-actions-terraform/.github/actions/validate@main
        with:
          working-directory: ${{ inputs.working-directory }}
